parameters:
	ignoreErrors:
		-
			message: "#^Class Igniter\\\\Local\\\\Models\\\\Review not found\\.$#"
			count: 1
			path: src/ApiResources/Repositories/ReviewRepository.php

		-
			message: "#^Class Igniter\\\\Local\\\\Requests\\\\Review not found\\.$#"
			count: 1
			path: src/ApiResources/Reviews.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Category\\:\\:\\$locations\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CategoryTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Category\\:\\:\\$menus\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CategoryTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Main\\\\Models\\\\Customer\\:\\:\\$addresses\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CustomerTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Main\\\\Models\\\\Customer\\:\\:\\$orders\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CustomerTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Main\\\\Models\\\\Customer\\:\\:\\$reservations\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CustomerTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Location\\:\\:\\$delivery_areas\\.$#"
			count: 1
			path: src/ApiResources/Transformers/LocationTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Location\\:\\:\\$reviews\\.$#"
			count: 1
			path: src/ApiResources/Transformers/LocationTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Location\\:\\:\\$working_hours\\.$#"
			count: 1
			path: src/ApiResources/Transformers/LocationTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\MenuItemOption\\:\\:\\$menu_option_values\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuItemOptionArrayTransformer.php

		-
			message: "#^Cannot access property \\$menu_option_id on array\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuItemOptionArrayTransformer.php

		-
			message: "#^Cannot access property \\$option on array\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuItemOptionArrayTransformer.php

		-
			message: "#^Undefined variable\\: \\$menuOption$#"
			count: 1
			path: src/ApiResources/Transformers/MenuItemOptionArrayTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\MenuItemOption\\:\\:\\$menu_option_id\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuItemOptionTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\MenuItemOption\\:\\:\\$menu_option_values\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuItemOptionTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\MenuItemOption\\:\\:\\$option\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuItemOptionTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\MenuOption\\:\\:\\$option_id\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuOptionTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\MenuOption\\:\\:\\$option_values\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuOptionTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Menu\\:\\:\\$categories\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Menu\\:\\:\\$ingredients\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Menu\\:\\:\\$mealtimes\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Menu\\:\\:\\$menu_options\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Menu\\:\\:\\$stocks\\.$#"
			count: 1
			path: src/ApiResources/Transformers/MenuTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Order\\:\\:\\$address\\.$#"
			count: 1
			path: src/ApiResources/Transformers/OrderTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Order\\:\\:\\$assignee\\.$#"
			count: 1
			path: src/ApiResources/Transformers/OrderTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Order\\:\\:\\$assignee_group\\.$#"
			count: 1
			path: src/ApiResources/Transformers/OrderTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Order\\:\\:\\$customer\\.$#"
			count: 1
			path: src/ApiResources/Transformers/OrderTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Order\\:\\:\\$location\\.$#"
			count: 1
			path: src/ApiResources/Transformers/OrderTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Order\\:\\:\\$payment_method\\.$#"
			count: 1
			path: src/ApiResources/Transformers/OrderTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Order\\:\\:\\$status\\.$#"
			count: 1
			path: src/ApiResources/Transformers/OrderTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Order\\:\\:\\$status_history\\.$#"
			count: 1
			path: src/ApiResources/Transformers/OrderTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Payment\\:\\:\\$code\\.$#"
			count: 1
			path: src/ApiResources/Transformers/PaymentMethodTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Payment\\:\\:\\$description\\.$#"
			count: 1
			path: src/ApiResources/Transformers/PaymentMethodTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Payment\\:\\:\\$name\\.$#"
			count: 1
			path: src/ApiResources/Transformers/PaymentMethodTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:\\$assignee\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReservationTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:\\$assignee_group\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReservationTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:\\$location\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReservationTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:\\$status\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReservationTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:\\$status_history\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReservationTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Reservation\\:\\:\\$tables\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReservationTransformer.php

		-
			message: "#^Access to property \\$customer on an unknown class Igniter\\\\Local\\\\Models\\\\Review\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReviewTransformer.php

		-
			message: "#^Access to property \\$location on an unknown class Igniter\\\\Local\\\\Models\\\\Review\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReviewTransformer.php

		-
			message: "#^Call to method toArray\\(\\) on an unknown class Igniter\\\\Local\\\\Models\\\\Review\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReviewTransformer.php

		-
			message: "#^Parameter \\$review of method Igniter\\\\Api\\\\ApiResources\\\\Transformers\\\\ReviewTransformer\\:\\:includeCustomer\\(\\) has invalid type Igniter\\\\Local\\\\Models\\\\Review\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReviewTransformer.php

		-
			message: "#^Parameter \\$review of method Igniter\\\\Api\\\\ApiResources\\\\Transformers\\\\ReviewTransformer\\:\\:includeLocation\\(\\) has invalid type Igniter\\\\Local\\\\Models\\\\Review\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReviewTransformer.php

		-
			message: "#^Parameter \\$review of method Igniter\\\\Api\\\\ApiResources\\\\Transformers\\\\ReviewTransformer\\:\\:transform\\(\\) has invalid type Igniter\\\\Local\\\\Models\\\\Review\\.$#"
			count: 1
			path: src/ApiResources/Transformers/ReviewTransformer.php

		-
			message: "#^Call to static method instance\\(\\) on an unknown class Igniter\\\\Api\\\\Auth\\\\Manager\\.$#"
			count: 3
			path: src/Classes/AbstractRepository.php

		-
			message: "#^Class Admin\\\\Traits\\\\Locationable not found\\.$#"
			count: 1
			path: src/Classes/AbstractRepository.php

		-
			message: "#^Call to an undefined method Spatie\\\\Fractal\\\\Fractal\\:\\:errorNotFound\\(\\)\\.$#"
			count: 1
			path: src/Classes/ApiController.php

		-
			message: "#^Access to an undefined property Igniter\\\\Api\\\\Models\\\\Resource\\:\\:\\$controller\\.$#"
			count: 1
			path: src/Classes/ApiManager.php

		-
			message: "#^Access to an undefined property Igniter\\\\Api\\\\Models\\\\Resource\\:\\:\\$endpoint\\.$#"
			count: 2
			path: src/Classes/ApiManager.php

		-
			message: "#^Access to an undefined property Igniter\\\\Api\\\\Models\\\\Resource\\:\\:\\$meta\\.$#"
			count: 1
			path: src/Classes/ApiManager.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Classes/Fractal.php

		-
			message: "#^Method Igniter\\\\Api\\\\Console\\\\CreateApiResource\\:\\:handle\\(\\) should return bool\\|null but return statement is missing\\.$#"
			count: 1
			path: src/Console/CreateApiResource.php

		-
			message: "#^Result of method Illuminate\\\\Console\\\\Command\\:\\:error\\(\\) \\(void\\) is used\\.$#"
			count: 2
			path: src/Console/IssueApiToken.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Validation\\\\ValidationException\\:\\:getErrors\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/ErrorHandler.php

		-
			message: "#^Default value of the parameter \\#2 \\$errors \\(string\\) of method Igniter\\\\Api\\\\Exceptions\\\\ResourceException\\:\\:__construct\\(\\) is incompatible with type array\\|Illuminate\\\\Support\\\\MessageBag\\.$#"
			count: 1
			path: src/Exceptions/ResourceException.php

		-
			message: "#^Access to an undefined property Igniter\\\\Api\\\\Classes\\\\ApiController\\:\\:\\$restConfig\\.$#"
			count: 1
			path: src/Http/Actions/RestController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Resources.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$device_name\\.$#"
			count: 1
			path: src/Http/Controllers/Tokens.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$email\\.$#"
			count: 1
			path: src/Http/Controllers/Tokens.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Http\\\\Request\\:\\:\\$password\\.$#"
			count: 1
			path: src/Http/Controllers/Tokens.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Tokens.php

		-
			message: "#^Access to an undefined property Igniter\\\\Api\\\\Models\\\\Resource\\:\\:\\$endpoint\\.$#"
			count: 5
			path: src/Models/Resource.php

		-
			message: "#^Access to an undefined property Igniter\\\\Api\\\\Models\\\\Resource\\:\\:\\$meta\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Access to an undefined property Igniter\\\\Api\\\\Models\\\\Resource\\:\\:\\$modelListCache\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$controller\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$description\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$endpoint\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Access to property \\$is_custom on an unknown class Igniter\\\\Api\\\\Models\\\\TYPE_NAME\\.$#"
			count: 2
			path: src/Models/Resource.php

		-
			message: "#^Access to property \\$meta on an unknown class Igniter\\\\Api\\\\Models\\\\TYPE_NAME\\.$#"
			count: 2
			path: src/Models/Resource.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Api\\\\Models\\\\Resource\\:\\:lists\\(\\)\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Api\\\\Models\\\\Resource\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\File\\:\\:existsInsensitive\\(\\)\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Call to method save\\(\\) on an unknown class Igniter\\\\Api\\\\Models\\\\TYPE_NAME\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Call to static method files\\(\\) on an unknown class File\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^PHPDoc tag @var for variable \\$model contains unknown class Igniter\\\\Api\\\\Models\\\\TYPE_NAME\\.$#"
			count: 1
			path: src/Models/Resource.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 3
			path: src/Models/Resource.php

		-
			message: "#^Access to an undefined property Igniter\\\\Api\\\\Models\\\\Token\\:\\:\\$tokenable_type\\.$#"
			count: 2
			path: src/Models/Token.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:tokens\\(\\)\\.$#"
			count: 1
			path: src/Models/Token.php
